@font-face {
    font-family: 'Paris2024-Variable';
    src: url('Paris2024-Variable-Regular.woff2') format('woff2'),
        url('Paris2024-Variable-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
.carousel-item img {
    height: 600px; /* Define a altura fixa */
    object-fit: cover; /* Mantém a proporção da imagem */
}
.title{
    font-family: 'Paris2024-Variable', sans-serif;
    font-size: 5.5rem;

    color: black;
    margin: 0;
    padding: 0;
    font-display: swap;
}
.gold-medal{
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: gold;
    color: white;
    font-weight: bold;
    text-align: center;
    line-height: 30px;  /* foi usado para alinhar o texto com o centro */

}
.silver-medal{
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: silver;
    color: white;
    font-weight: bold;
    text-align: center;
    line-height: 30px;  /* foi usado para alinhar o texto com o centro */

}
.bronze-medal{
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color:#CD7F32 ;
    color: white;
    font-weight: bold;
    text-align: center;
    line-height: 30px;  /* foi usado para alinhar o texto com o centro */

}

.nav-item a{
    font-size: 1rem;
    color: White !important;
}